body{
    background-color: rgb(66, 64, 64);
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    color: rgb(63, 153, 153);
}
.center {
    display: flex;
    justify-content: center;
  }

h2{
    font-family: 'Dancing Script', cursive;
    padding:0 4rem;
    color: rgb(73, 210, 210);
}

img{
    padding: 0.5em 3rem;
}

.btn{
    margin-top: 5%;
    border-radius: 15px;
    padding: 12px;
}